#upload-modal .emojionearea {
    width: 100%!important;
    display: inline-block;
    border: none!important;
    outline: none!important;
    border-radius: 0px!important;
    box-shadow: unset!important;
}
#upload-modal .emojionearea .emojionearea-editor{
    
    max-height:unset!important;
    min-height: 5em!important;

}
#upload-modal .focused {
    box-shadow:unset!important;
}
